<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppLock"
        tools:targetApi="31">
        <activity
            android:name=".GrantedPermissionsScreen"
            android:exported="false" />
        <activity
            android:name=".AccServDisableError"
            android:exported="false" />
        <activity
            android:name=".SetupActivity"
            android:exported="false" />
        <activity
            android:name=".PasswordSetupActivity"
            android:exported="false"
            android:theme="@style/Theme.AppLock" />
        <activity
            android:name=".OtherSettingsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="AppLock Config" />
        <activity
            android:name=".SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.AppLock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthenticationActivity"
            android:documentLaunchMode="none"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:taskAffinity="com.jarm.applock"
            android:theme="@style/Theme.AppLock" />
        <activity
            android:name=".UsbDebuggingAuthenticationActivity"
            android:documentLaunchMode="none"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:taskAffinity="com.jarm.applock"
            android:theme="@style/Theme.AppLock" />

        <service
            android:name=".LogCatMonitorService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".DeviceAdminReceiverForDeviceOwner"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:testOnly="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".AccSrvForBootstrapAndLock"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_configuration" />
        </service>

        <activity
            android:name=".LockApp"
            android:excludeFromRecents="true"
            android:exported="false"
            android:resizeableActivity="false"
            android:theme="@style/Theme.AppLock"></activity>
    </application>

</manifest>